<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portflio</title>
    <link rel="stylesheet" href="portflio.css">
    <link rel="icon" type="image/png" href="images/logojay.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
   <div id="header">
    <div class="container">
        <nav>
            <img src="" alt="">
            <ul id="sidemenu">
                <li> <a href="#header"> Home </a></li>
                <li> <a href="#About"> About </a></li>
                <li> <a href="#services"> Services </a></li>
                <li> <a href="#portfolio"> Portflio </a></li>
                <li> <a href="#contact"> Contact </a></li>
                <i class="fa fa-remove"onclick="closemenu()"></i>
            </ul>
            <i class="fa fa-navicon"onclick="openmenu()"></i>
        </nav>
        <div class="header-text">
            <p> Front-End Developer </p>
            <h1> Hi, I'm <span>Jay Kumar</span><br> Sharma From India </h1>
        </div>
    </div>
   </div> 
  <!-- -----------------------------------About----------------------------->
   <div id="About">
    <div class="container">
        <div class="row">
            <div class="About-col-1">
                <img src="images/user.png" alt="" srcset="">
            </div>
            <div class="About-col-2">
                <h1 class="subtitle"> About me</h1>
                <p> Hi, I'm Jay Kumar Sharma, a passionate and dedicated student pursuing a B.Tech in Computer Science & Engineering at Sandip University, Madhubani. With a strong interest in technology and innovation, I strive to build solutions that are both efficient and impactful.

                    I'm constantly learning and exploring new technologies, and I aim to leverage my knowledge to contribute meaningfully to the tech industry. My areas of interest include web development, programming, and emerging technologies.
                </p>

                <div class="tab-titles">
                  <p class="tab-link active-link" onclick="opentab('Skills')"> Skills</p>
                  <p class="tab-link"onclick="opentab('Experience')"> Experience</p>
                  <p class="tab-link"onclick="opentab('Education')"> Education</p>
                </div>
                <div class="tab-contents active-tab" id="Skills">
                    <ul>
                        <li><Span> Front-End Developer</Span><br> Designing Web Interfaces </li>
                        <li><Span> Web-Development </Span><br> Build a Website using HTML, CSS & JavaScript</li>
                        <li><Span>  Developer</Span><br> Designing Web Interfaces </li>
                    </ul>
                </div>

                <div class="tab-contents" id="Experience">
                    <ul>
                     <li><Span>2021-25-Current </Span><br> Pursuing B.Tech Final Year From Sandip University</li>
                        <li><Span> 2024-25 </Span><br> Build a Website using HTML, CSS & JavaScript</li>
                        <li><Span>  Developer</Span><br> Designing Web Interfaces </li>
                    </ul>
                </div>

                <div class="tab-contents" id="Education">
                    <ul>
                 <li><Span> 2021-25-Current </Span><br> Pursuing B.Tech 3rd Year From Sandip University</li>
                 <li><Span> 2019-21 </Span><br> I.Sc From J.N College Madhubani Bihar</li>
                 <li><Span>  2018-19</Span><br> Matriculation From Watson +2 High School Madhubani Bihar </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   </div>

   <div id="services">
    <div class="container">
        <h1 class="subtitle"> My Services</h1>
        <div class="services-list">
            <div>
                <i class="fa fa-code"></i>
                <h2> Web Design</h2>
                <p> I specialize in creating visually appealing and user-friendly websites using HTML, CSS, and JavaScript. My designs are responsive, ensuring a seamless experience across all devices. </p>
                <a href="#"> Learn More</a>
            </div>
            <div>
                <i class="fa fa-code"></i>
                <h2> Graphic Design</h2>
                <p> From logos to social media graphics, I offer creative graphic design solutions that align with your brand identity. My designs focus on aesthetics, functionality, and delivering the right message to your audience.</p>
                <a href="#"> Learn More</a>
            </div>
            <div>
                <i class="fa fa-code"></i>
                <h2> WordPress Design</h2>
                <p>I provide WordPress-based solutions for blogs, business websites, and e-commerce platforms. With custom themes, plugins, and optimization, I ensure your WordPress site is functional, fast, and aligned with your goals.</p>
                <a href="#"> Learn More</a>
            </div>
        </div>
    </div>
   </div>
<!-----------------------------------------Portfolio------------------------------------------------------------->
<div id="portflio">
    <div class="container">
        <h1 class="sub-title">My Work</h1>
        <div class="work-list">
            <div class="work">
                <img src="images/work-1.png" alt="" srcset="">
                <div class="layer">
                    <h3>E-Learning</h3>
                    <p>My E-Learning website project is designed to make education accessible, engaging, and interactive for learners of all ages.</p>
                        <a href="#"><i class="fa fa-chain" style="font-size:24px"></i></a>
                </div>
            </div>

            <div class="work">
                <img src="images/work-2.png" alt="" srcset="">
                <div class="layer">
                    <h3>Music Website</h3>
                    <p>The app connects you to the talented people around the world.
                        Download it from Play Store.</p>
                        <a href="#"><i class="fa fa-chain" style="font-size:24px"></i></a>
                </div>
            </div>

            <div class="work">
                <img src="images/work-3.png" alt="" srcset="">
                <div class="layer">
                    <h3>Shopping Website</h3>
                    <p>The app connects you to the talented people around the world.
                        Download it from Play Store.</p>
                        <a href="#"><i class="fa fa-chain" style="font-size:24px"></i></a>
                </div>
            </div>
        </div>
        <a href="#" class="btn">See More</a>
    </div>
</div>

<!---------------------------------------- CONTACT SECTION ----------------------------------------------------------->
<div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title"> Contact Me</h1>
                <p><i class="fa fa-paper-plane"></i> jaysharmabnk120@gmail.com</p>
                <p><i class="fa fa-phone-square"></i> +91 </p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/jaykumar.sharma.9028194"><i class="fa fa-facebook-f" style="font-size:30px"></i></a>
                    <a href="https://www.instagram.com/jay_kumar_sharma_?igsh=OXphMDN2b3dxdmVl"><i class="fa fa-instagram" style="font-size:30px"></i></a>
                    <a href="https://www.linkedin.com/in/jay-kumar-sharma-96112b25a"><i class="fa fa-linkedin-square" style="font-size:30px"></i></a>
                    <a href="https://twitter.com/JayKuma88367537"><i class="fa fa-twitter" style="font-size:24px"></i></a>
                    <a href=""><i class="fa fa-youtube-play" style="font-size:24px"></i></a>
                </div>
                <a href="#" download class="btn btn2">Download CV</a>
            </div>
            <div class="contact-right">
                <form name="submit-to-google-sheet">
                    <input type="text" name="Name" id="" placeholder="Your Name" required>
                    <input type="email" name="email" id="" placeholder="Enter Email" required>
                    <textarea name="message" id="" cols="30" rows="10" placeholder="Your message"></textarea>
                    <button type="submit" class="btn3">Submit</button>
                </form>
                <span id="msg"></span>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright 2024 &copy; Jay Kumar <i class="fa fa-heart" ></i></p>
    </div>
</div>



<script>
    var tablinks = document.getElementsByClassName("tab-links");
    var tabcontents = document.getElementsByClassName("tab-contents");
    function opentab(tabname){
        for(tablink of tablinks){
            tablink.classList.remove("active-link");
        }
        for(tabcontent of tabcontents){
            tabcontent.classList.remove("active-tab");
        }
        event.currentTarget.classList.add("active-link");
        document.getElementById(tabname).classList.add("active-tab");
    }
</script>
<script>
    var sidemenu=document.getElementById("sidemenu");
    function openmenu(){
        sidemenu.style.right="0";

    }
    function closemenu(){
        sidemenu.style.right="-200px";
        
    }

</script>
<script>
    const scriptURL = 'https://script.google.com/macros/s/AKfycbx-e1Z91yu6amgMT_tZMNezMMxRDe6qG-bMRZtUnreWrf4KaTIYbE5JDGHufMqcwoMupw/exec'
    const form = document.forms['submit-to-google-sheet']
    const msg=document.getElementById("msg")
  
    form.addEventListener('submit', e => {
      e.preventDefault()
      fetch(scriptURL, { method: 'POST', body: new FormData(form)})
        .then(response => {
            msg.innerHTML="message sent sucessfully"
            setTimeout(function(){
                msg.innerHTML=""
            },5000)
            form.reset()
        })
        .catch(error => console.error('Error!', error.message))
    })
  </script>
</body>
</html>